DBT_SNOWFLAKE_ACCOUNT='your_account_identifier'
DBT_SNOWFLAKE_USER='your_username'
DBT_ENV_SECRET_SNOWFLAKE_PASSWORD='your_password'
DBT_SNOWFLAKE_ROLE='SYSADMIN'
DBT_SNOWFLAKE_DATABASE='PLUG_DBT_DEV'
DBT_SNOWFLAKE_WAREHOUSE='PLUG_DBT_WH'
DBT_SNOWFLAKE_SCHEMA='DBT_DEV'
