DBT_SNOWFLAKE_ACCOUNT='your_account_identifier'
DBT_SNOWFLAKE_USER='your_username'
DBT_ENV_SECRET_SNOWFLAKE_PASSWORD='your_password'
DBT_SNOWFLAKE_ROLE='your_role'
DBT_SNOWFLAKE_DATABASE='your_database'
DBT_SNOWFLAKE_WAREHOUSE='your_warehouse'
DBT_SNOWFLAKE_SCHEMA='DBT_DEV'
